body {
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    /*min-height: 95vh;*/
}


/* SIDE LEFT */

.menu {
    cursor: pointer;}
    .menu .menu-in:hover {
        color: #ffffff;
        background-color: #607D8B;
        background-image: url(../svg/animated/ic_search_48px.svg);
        background-position: left;
        background-repeat: no-repeat;

        -webkit-transition: background-position 400ms ease-out 50ms;
        -moz-transition: background-position 400ms ease-out 50ms;
        -o-transition: background-position 400ms ease-out 50ms;
        -ms-transition: background-position 400ms ease-out 50ms;
        transition: background-position 400ms ease-out 50ms;}
        .menu .menu-in:active{
            background-color: #4c5a61;
        }
    .menu .active {
        color: #ffffff;
        background-color: #7F97A2;
        background-image: url(../svg/animated/ic_search_48px.svg);
        background-position: left;
        background-repeat: no-repeat;}


/* SCROLL INFINITO */

ul {
    height: 200px;
    overflow: auto;
    width: 550px;
}


/* CARDs */

md-card {}
    md-card.card-fixed {
        width: 230px;
        height: 280px;}
    md-card .card-title {
        font-size: 16px;}
    md-card .card-content {
        font-size: 12px;}


/* SEARCH BOX */
md-whiteframe.search-whiteframe {
    margin-bottom: 10px;

}

md-whiteframe > input[type="text"].search-input {
    width: 100%;
    height: 50px;
    border-style: none;
    font-size: 20px;
    padding: 2px 25px 2px 25px;
}


/* CARD ANIMATE */

md-grid-tile {
    transition: all 300ms ease-out 50ms;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear .2s;
    transition:all linear .2s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    /*max-height:0;*/
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    /*max-height:100px;*/
}


/* ------------------------------------------------------ */
/*.layout-cards {*/
/*-webkit-transition: opa 400ms ease-out 50ms; /!* Chrome, Safari, Opera *!/*/
/*transition: opa 400ms ease-out 50ms;*/
/*position: relative;*/
/*}*/

/*.close-side {*/
/*cursor: pointer;}*/

/*md-grid-list {*/
/*margin: 8px; }*/
/*.gray {*/
/*background: #f5f5f5; }*/
/*.green {*/
/*background: #b9f6ca; }*/
/*.yellow {*/
/*background: #ffff8d; }*/
/*.blue {*/
/*background: #84ffff; }*/
/*.purple {*/
/*background: #b388ff; }*/
/*.red {*/
/*background: #ff8a80; }*/
/*md-grid-tile {*/
/*transition: all 400ms ease-out 50ms; }*/
/*.teste {*/
/*background-image: url(../svg/animated/ic_settings_ethernet_24px.svg);*/
/*background-repeat: no-repeat;*/

/*}*/

/*.face {*/
    /*border-radius: 30px;*/
    /*border: 1px solid #ddd;*/
    /*width: 48px;*/
    /*/!*margin: 16px;*!/*/

/*}*/