<meta charset="UTF-8">
<base href="/">

<title>Melhore.me</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

<!-- CSS -->
<script src="assets/libs/modernizr/modernizr.js"></script>

<!--<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>-->
<link rel="stylesheet" href="assets/libs/angular-material/angular-material.css">
<link rel="stylesheet" href="assets/css/style.css"> <!-- custom styles -->

<!-- JS -->
<script type='text/javascript' src='assets/libs/jquery/dist/jquery.js'></script>

<script src="assets/libs/angular/angular.js"></script>
<!--<script type='text/javascript' src='assets/libs/ngInfiniteScroll/build/ng-infinite-scroll.js'></script>-->
<script src="assets/libs/angular-animate/angular-animate.js"></script>
<script src="assets/libs/angular-route/angular-route.js"></script>
<script src="assets/libs/angular-aria/angular-aria.js"></script>
<script src="assets/libs/angular-material/angular-material.js"></script>
<script src="assets/libs/angular-messages/angular-messages.js"></script>

<!-- ANGULAR CUSTOM -->
<script src="assets/js/controllers/MainCtrl.js"></script>
<script src="assets/js/controllers/RegisterCtrl.js"></script>
<script src="../../assets/js/controllers/HomeController.js"></script>
<script src="assets/js/controllers/ExampleCtrl.js"></script>
<script src="assets/js/services/ExampleService.js"></script>
<script src="assets/js/directives/WhenScrolledDirective.js"></script>
<script src="assets/js/appRoutes.js"></script>
<script src="assets/js/appDirectives.js"></script>
<script src="assets/js/app.js"></script>